@font-face {
    font-family: 'Carrington';
    src: url('../fonts/Carrington.ttf') format('truetype');
}

* {
    padding: 0;
    margin: 0;
}


header {
    width: 100%;
    height: 55px;
    background: #1a474c;
}

    header a {
        text-decoration: none;
        position: absolute;
        background: #003a4d;
        right: 7px;
        padding: 12px;
        z-index: 7;
    }

    header a:hover {
        background: #02698a;
    }

     header a span {
            text-align: center;
            color: #fff;
            font-family: 'Carrington';
            font-size: 40px;
        }

        header h1 {
            text-align: center;
            color: #fff;
            font-family: 'Carrington';
            font-size: 50px;
        }


main {
    width: 100%;
}

footer {
    border-top: solid 5px #303030;
    background: #1a474c;
    text-align: center;
    color: #fff;
    font-family: Arial, sans-serif;
    font-size: 20px;
}

    footer img {
        width: 100px;
        height: 100px;
        padding: 10px 15px;
    }

    footer p {
        padding: 20px 0px;
        width: 100%;
        background: #1a1a1a;
    }
